:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --accent-white-color: #FFFFFF;
    --background-white: #FFFFFF;
    --background-primary-color: #E5E5E5;
    --background-top-color: #F5F4FA;
    --background-color: #2F303A;

    --card-set-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --card-shadow-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

   $primary-text-color: #212121;
   $title-text-color: #757575;
   $accent-color: #2196F3;
   $accent-white-color: #FFFFFF;
   $background-white: #FFFFFF;
   $background-primary-color: #E5E5E5;
   $background-top-color: #F5F4FA;
   $background-color: #2F303A;